streamlit
pandas
numpy
nltk
scikit-learn
matplotlib
seaborn


tensorflow

pillow
streamlit-drawable-canvas

streamlit
tensorflow-cpu==2.15.1
numpy
pillow
streamlit-drawable-canvas



streamlit
pandas
numpy
nltk
scikit-learn
matplotlib
seaborn
tensorflow-cpu==2.15.1